html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Above is a reset I found at https://www.digitalocean.com/community/tutorials/css-minimal-css-reset */

@font-face {
  font-family: Norse-Bold;
  src: url("./src/Norse-Bold.otf") format("opentype");
}

.logo-container {
  display: flex;
  justify-content: center;
  height: 16vh;
  background-color: black;
  color: white;
  opacity: .8;  
}

.odin-title {
  font-family: Norse-Bold;
  display: flex;
  height: fit-content;  
  align-self: center;  
  font-size: 11vh;
}

.right-side {
  background-color: whitesmoke;
}

.input-container {
  background-color: white;
  grid-template-columns: 1fr 1fr;  
}